/*
	黑色主题
*/

// backgroundColor1 背景色 深灰色
$top_bgc: #343339;

// backgroundColor2 背景色 黑色
$bottom_bgc: #2A292F;

// subjectColor 主题色 橙黄色
$sc: #F4B04F;

// title color 标题颜色	
$tc: #FFF;

// content color 文字内容颜色	
$cc: #98979C;

// operation color 操作文字的颜色
$optc: #FFF;

// border color 界面Border的颜色
$bc: #E6E6E6;